.wrap
	nav
		a(href="#",title="Página Inicial") Página Inicial
		a(href="#",title="Divulgue o seu negócio") Divulgue o seu negócio
		a(href="#",title="Faça Parte") Faça Parte
		a(href="#",title="Termos de Uso & Políticas de Privacidade") Termos de Uso & Políticas de Privacidade
	p © 2017 Sou Mais Caxias. O Sou Mais Caxias é o guia mais completo de endereços, telefones, locais, serviços e recomendações de Duque de Caxias! Com informações relevantes, o portal é a melhor plataforma para você explorar nossa cidade.