#bairros
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
	a(href="#") Lorem ipsum.
#topo
	.wrap.flex
		.flex40
			a(href="javascript:void(0)",title="Bairro",role="dropdown") Bairro 
				i.material-icons &#xE313;
		.flex60
			nav
				a(href="#",title="Divulgue seu negócio") Divulgue seu negócio
				a(href="#",title="Faça parte") Faça parte
				a(href="#",title="Termos de uso & Políticas de Privacidade") Termos de uso & Políticas de Privacidade
#header
	.wrap
		div
			form
				div
					span
						a(href="",title="Log In",class="btn btn_1") Log In
						button
							i.material-icons &#xE8B6;
					p Ainda não tem acesso? 
						a(href="",title="Cadastre-se") Cadastre-se
 
		div
			h1 Explore Duque de Caxias
			p São mais de <b>10.550</b> estabelecimentos cadastrados e <b>30.223</b> novos usuários. <a href="#"><b>Cadastre-se</b></a> grátis no <u>soumaiscaxias.com.br</u>