extend ./layout.jade
block vars
	- var title='Sou Mais Caxis'
	- var bodyClass = 'pg-home'
block content
	section#divulgue-o-seu-negocio
		.wrap
			h2 Divulgue o seu negócio
			p Maecenas est nisl, efficitur eu euismod sed, viverra at mi. Etiam nec velit vel orci sollicitudin faucibus. Suspendisse sed enim ultricies, tempus mi quis
			a(href="#",title="Registre-se",class="btn btn_2") Registre-se
	section#encontre-o-que-precisa
		.wrap.flex
			.flex50
				img(src="./assets/hands_app.png")
			.flex50
				h2 Encontre o que precisa
				p Maecenas est nisl, effi citur eu euismod sed, viverra at mi. Etiam nec velit vel orci sollicitudin faucibus. aliquet mauris. Suspendisse non aliquet nisl, in lacinia enim. Quisque eros enim, porta sit amet enim vel, venenatis fermentum elit. Maecenas dignissim mollis hendrerit.
	section#filter
		.wrap
			form
				span
					p Quero encontrar
				span
					input(type="text",placeholder="estabelecimentos")
				span
					input(type="text",placeholder="bairros")
				span
					button.btn.btn_3 buscar
	section#map
		#map-canvas
		script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
		script.
			var berlin = new google.maps.LatLng(52.520816, 13.410186);
			var neighborhoods = [
			new google.maps.LatLng(52.511467, 13.447179),
			new google.maps.LatLng(52.549061, 13.422975),
			new google.maps.LatLng(52.497622, 13.396110),
			new google.maps.LatLng(52.517683, 13.394393)
			];
			var markers = [];
			var iterator = 0;
			var map;
			function initialize() {
			var mapOptions = {
			zoom: 12,
			center: berlin
			};
			map = new google.maps.Map(document.getElementById('map-canvas'),
			mapOptions);
			}
			function drop() {
			for (var i = 0; i < neighborhoods.length; i++) {
			setTimeout(function() {
			addMarker();
			}, i * 200);
			}
			}
			function addMarker() {
			markers.push(new google.maps.Marker({
			position: neighborhoods[iterator],
			map: map,
			draggable: false,
			animation: google.maps.Animation.DROP
			}));
			iterator++;
			}
			google.maps.event.addDomListener(window, 'load', initialize);		
	section#o-que-falam-por-ai
		.wrap
			h2 O que falam por aí
			p Pityful a rethoric question ran over her cheek, then she continued her way.
			ul#testimonials
				li
					div.testimonial
						.avatar(style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg)")
						ul
							li 
								p Lorem Lipsum
							li
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis quia, enim soluta possimus?
							li
								span.quote "
				li
					div.testimonial
						.avatar(style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg)")
						ul
							li 
								p Lorem Lipsum
							li
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis quia, enim soluta possimus?
							li
								span.quote "
				li
					div.testimonial
						.avatar(style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg)")
						ul
							li 
								p Lorem Lipsum
							li
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis quia, enim soluta possimus?
							li
								span.quote "
	section#faca-parte
		.wrap
			h2 Faça Parte
			p Gostaria de falar com a gente? Entre em contato pelo e-mail <a href="mailto:contato@dominio.com.br">contato@dominio.com.br</a> ou <a href="#">registre-se</a> agora mesmo.
			a(href="#",title="Registre-se",class="btn btn_4") Registre-se