doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html(xmlns="http://www.w3.org/1999/xhtml", itemscope, itemtype="http://schema.org/Organization", dir="ltr", lang="en-US", class="no-js")
	block vars
	head
		title #{title} 
		meta(charset='UTF-8') 
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
		meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
		meta(http-equiv='cache-Control', content='no-cache, no-store, must-revalidate')
		meta(http-equiv='expires', content='0')
		meta(http-equiv='expires', content='Tue, 01 Jan 1980 1:00:00 GMT')
		meta(http-equiv='pragma', content='no-cache')
		meta(http-equiv='apple-mobile-web-app-capable', content='yes')
		meta(http-equiv='HandheldFriendly', content='true')
		meta(name='audience', content='all')
		meta(name='keywords', content=' ')
		meta(name='author', content='Wesley Andrade')
		meta(name='resource-type', content='Document')
		meta(name='distribution', content='Global')
		meta(name='robots', content='index, follow, ALL')
		meta(name='GOOGLEBOT', content='index, follow')
		meta(name='rating', content='General')
		meta(name='revisit-after', content='2 Days')
		meta(name='language', content='pt-br')
		meta(name='HandheldFriendly', content='true')
		link(rel='canonical', href=' ')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet', type="text/css", media="all")
		link(href='css/flexslider.css', rel='stylesheet', type="text/css", media="all")
		link(href='css/default.css', rel='stylesheet', type="text/css", media="all")
		link(href='style.css', rel='stylesheet', type="text/css", media="all")
		link(rel="apple-touch-icon", sizes="57x57", href="favicon-57.png")
		script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
		script(type='text/javascript' src='http://flexslider.woothemes.com/js/jquery.flexslider.js')
		script(href='js/modernizr.js', type="text/javascript", media="all")
		script(href='js/selectivizr.js', type="text/javascript", media="all")
		script(href='js/html5shiv.js', type="text/javascript", media="all")
		script(href='js/html5shiv-printshiv.js', type="text/javascript", media="all")
		script.
			$(document).ready(function(){ 
				$("[role='dropdown']").click(function() {
					$(this).toggleClass("open");
					$("#bairros").toggleClass("open");
				});
			});
	block vars
	body(class='#{bodyClass}')    
		div#wrap
			header
				include header
			main
				block content
			footer
				include footer