@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=News+Cycle');

@font-face {
    font-family: 'TheNextFont';
    src: url('./fonts/TheNextFont.eot');
    src: url('./fonts/TheNextFont.eot') format('embedded-opentype'),
         url('./fonts/TheNextFont.woff2') format('woff2'),
         url('./fonts/TheNextFont.woff') format('woff'),
         url('./fonts/TheNextFont.ttf') format('truetype'),
         url('./fonts/TheNextFont.svg#TheNextFont') format('svg');
}


.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.stretch{
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;	
}

@mixin flex($width){
  -webkit-flex: 0 $width;                
  -ms-flex: 0 $width;                    
  flex: 0 $width; 
}

@mixin transition($tempo){
  -webkit-transition:all linear $tempo;
  -moz-transition:all linear $tempo;
  -o-transition:all linear $tempo;
  transition:all linear $tempo;
}

@mixin height($tempo){
  -webkit-transition:max-height $tempo;
  -moz-transition:max-height $tempo;
  -o-transition:max-height $tempo;
  transition:max-height $tempo;
}

@mixin border($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
}

@mixin shadow($val1, $val2, $val3, $val4, $cor){
  -webkit-box-shadow: $val1 $val2 $val3 $val4 $cor;
  -moz-box-shadow: $val1 $val2 $val3 $val4 $cor;
  box-shadow: $val1 $val2 $val3 $val4 $cor;
}

@mixin background($size){
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

@mixin degrade($color1,$color2){
  background: $color1; 
  background: -moz-linear-gradient(top, $color1 0%, $color2 53%, $color2 100%); 
  background: -webkit-linear-gradient(top, $color1 0%,$color2 53%,$color2 100%); 
  background: linear-gradient(to bottom, $color1 0%,$color2 53%,$color2 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); 
}

.flex100{@include flex(100%);}
.flex95{@include flex(95%);}
.flex90{@include flex(90%);}
.flex85{@include flex(85%);}
.flex80{@include flex(80%);}
.flex75{@include flex(75%);}
.flex70{@include flex(70%);}
.flex65{@include flex(65%);}
.flex60{@include flex(60%);}
.flex55{@include flex(55%);}
.flex50{@include flex(50%);}
.flex45{@include flex(45%);}
.flex40{@include flex(40%);}
.flex35{@include flex(35%);}
.flex33{@include flex(33.333333333%);}
.flex30{@include flex(30%);}
.flex25{@include flex(25%);}
.flex20{@include flex(20%);}
.flex16{@include flex(16.666666666%);}
.flex15{@include flex(15%);}
.flex10{@include flex(10%);}

@mixin order($value){
  -webkit-box-ordinal-group: $value;
  -ms-flex-order: $value;
  -webkit-order: $value;
  order: $value;  
}

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

[class*="flex"]{
  min-width:0;
  img{
    position:relative;
    display:block;
    margin:0 auto;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    min-width:0;
    align-self: center;
  }
}

[class*="btn"]{
	display: inline-block;
	padding:15px 60px;
	background:none;
	border:0px;
	@include border(999px);
	text-align: center;
	border:0;
	color:#fff;
	cursor: pointer;
	font-size: em(16);
	&.btn_1{
		background-color:#fff;
		color:#e2747f;
	}
	&.btn_2{
		border:1px #e2747f solid;
		color:#e2747f;
	}
	&.btn_3{
		background-color:#db9600;
		color:#fff;
	}
	&.btn_4{
		background-color:#00ffff;
		color:#fff;
		text-transform:uppercase;
		margin:0 auto;
		display:block;
		max-width:280px;
	}
}

button{text-transform:uppercase;}

[class*="zocial"]{text-transform: initial;}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.zocial-googleplus::before {content: "+";}

.zocial-linkedin::before {content: "L";}

.zocial-twitter::before {content: "T";}

.zocial-facebook::before {content: "f";}

[role="dropdown"]{
	&.open{
		i{
			transform:rotate(180deg);
		}
	}
}

header{
	#topo{
		background-color:#454545;
		color:#fff;
		font-size:em(14);
		padding:12px 0;
		i{
			display: inline-block;
			vertical-align: middle;
			padding:0 6px;
			font-size:inherit;
		}
		nav{
			text-align:right;
			a{
				display: inline-block;
				vertical-align:middle;
				&:not(:last-child){padding-right:12px;}
			}
		}
	}
	#header{
		position: relative;
		min-height:600px;
		background-color:#d8515e;
		overflow:hidden;
		color:#fff;
		padding-bottom: 275px;
		.wrap{padding-bottom:50px;}
		z-index: 3;
		h1{
			text-align:center;
			font-size:em(90);
			max-width:490px;
			margin:0 auto 50px;
			line-height:1em;
			&+p{
				text-align:center;
				margin:0 auto;
				max-width:500px;
			}
		}
		&::after{
		    background: #fff none repeat scroll 0 0;
		    content: "";
		    height: 100%;
		    position: absolute;
		    top: 75%;
		    transform: rotate(-6deg);
		    width: 140vmax;
		    z-index: 2;
		}
		&::before{
		   	background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
		    content: "";
		    height: 100%;
		    left: -20%;
		    position: absolute;
		    top: 90%;
		    transform: rotate(6deg);
		    width: 140vmax;
		    z-index: 2;
		}
		form{
			text-align:right;
			> div{
				display: inline-block;
				max-width:185px;
				padding:50px 0;
				&::after{
					clear:both;
					content:"";
					display: block;
				}
				input,button{
					display: inline-block;
					vertical-align:middle;
				}
				button{
					background:none;
					border:0;
					padding:0;
					text-align:center;
					color:inherit;
					width:30px;
					margin-right:-30px;
					i{
						font-size:em(24);
					}
				}
				p{
					padding:15px 0;
					font-size:em(13);
					float:right;
					a{
						text-decoration:underline;
						font-weight:bold;
					}
				}
			}
		}
	}
}

section{
	position:relative;
	h2{
		max-width:600px;
		margin:0 auto 30px;
		text-align:center;
	}
	.wrap{padding:60px 0;}
	&#divulgue-o-seu-negocio{
		text-align:center;
		h2{color:#d8515e;}
		p{color:#999;}
		.wrap{padding-top:0;}
		z-index: 2;
	}
	&#encontre-o-que-precisa{
		z-index: 1;
		color:#fff;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d75341+0,d4a648+100 */
		background: #d75341; /* Old browsers */
		background: -moz-linear-gradient(left, #d75341 0%, #d4a648 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #d75341 0%,#d4a648 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #d75341 0%,#d4a648 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d75341', endColorstr='#d4a648',GradientType=1 ); /* IE6-9 */
		.flex{
			position:relative;
			z-index:3;
			text-align:right;
			h2{text-align:inherit;}
			[class*="flex50"]{
				img{
				    margin-top: -160px !important;
				    margin-left: -280px !important;
				    width: 800px;
				    max-width:initial;
				}
				&:last-of-type{padding-bottom:60px;}
			}
		}
		&::after{
		   	background: #fff none repeat scroll 0 0;
		    content: "";
		    height: 100%;
		    left: -5%;
		    position: absolute;
		    top: -84%;
		    transform: rotate(-6deg);
		    width: 140vmax;
		    z-index: 2;
		}
		&::before{
		    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
		    content: "";
		    height: 100%;
		    left: -5%;
		    position: absolute;
		    top: -75%;
		    transform: rotate(6deg);
		    width: 140vmax;
		    z-index: 2;
		}
		.wrap{
			padding-top:200px;
			padding-bottom:0;
		}
	}
	&#filter{
		.wrap{
			padding:15px 0;
			form > *{
				display:inline-block;
				vertical-align:middle;
				margin-right:-4px;
				color:#999;
				&:first-child{width:15%;}
				&:not(:first-child){width:28.3%;}
				&:not(:first-child){padding-left:10px;}
				&:not(:last-child){padding-right:10px;}
				input{
					display:block;
					width:100%;
					@extend [class*="btn"];
					border:1px #db9600 solid;
					color:#999;
					font-size:em(14);
					text-align:left;
					padding-left:15px;
					padding-right:15px;
				}
			}
		}
	}
	&#map{
		#map-canvas{height:560px;}
	}
	&#faca-parte,
	&#o-que-falam-por-ai{
		color:#fff;
		h2{
			font-family: 'TheNextFont';
			text-transform:uppercase;
			&+p{
				text-align:center;
			}
		}
	}
	&#o-que-falam-por-ai{background:url(./assets/o-que-falam-por-ai.jpg) center center repeat #0099d9;}
	&#faca-parte{
		background-color:#067cad;
		margin:-120px auto 0;
		.wrap{
			padding:180px 0;
		}
		h2{
			&+p{
				a{
					text-decoration:underline;
					font-weight:bold;
				}
			}
		}
	}
}

// 

.testimonial{
	position: relative;
	z-index: 50;
	background-color:#ffffff;
	color:#999;
	padding:0 45px 45px;
	.avatar{
		position: relative;
		top:-45px;
		height:180px;
		width:180px;
		margin:0 auto;
		@include border(999px);
		@include background(cover);
		background-position:center center;
		background-repeat:no-repeat;
		display:block;
	}
	ul{
		li{
			display:inline-block;
			vertical-align:bottom;
			margin-right:-4px;
			&:nth-child(2){
				width:80%;
				padding:0 10px;
				font-size:em(15);
				text-align:justify;
				font-style:italic;
			}
			&:first-child{
				p{
					position: relative;
					display:block;
				    transform: rotate(-90deg);
				    transform-origin: left bottom 0;
				    width: 200px;	
				    left: 20px;				
				}
			}
			&:not(:nth-child(2)){
				width:10%;
				color:#0099d9;
				font-weight:bold;
			}
		}
	}
}

footer{
	font-family: 'Raleway', sans-serif;
	background-color:#0099d9;
	.wrap{
		padding:60px 0;
	}
	text-align:center;
	color:#fff;
	font-size:em(16);
	p{
		display:block;
		max-width:680px;
		margin:0 auto;
		line-height:1.5em;
	}
	nav{
		padding-bottom:30px;
		a{
			display:inline-block;
			vertical-align:middle;
			padding:0 12px;
			font-weight:100;
		}
	}
}

#testimonials{
	position: relative;
	z-index: 50;
	margin:120px auto 0;
	> *{
		display:inline-block;
		vertical-align:bottom;
		margin-right:-4px;
		width:33.3333%;
		&:not(:last-child){padding-right:14px;}
		&:not(:first-child){padding-left:14px;}
	}
}

.quote{
    display: block;
    font-family: "News Cycle",sans-serif;
    font-size: 145px;
    height: 20px;
    line-height: 60px;
}

#bairros{
	background:#676767;
	color:#fff;
	font-size:em(14);
	max-height:0;
	overflow:hidden;
	@include height(.2s);
	&.open{
		max-height:150px;
	}
	a{
		padding:16px;
		display:inline-block;
		vertical-align:middle;
		width:16.3333%;
		margin-right:-4px;
		text-align:center;
	}
}

/****/

p{line-height:1.3em;}

@for $i from 1 through 4 {
    h#{$i} {
    	font-family: 'TheNextFont';
    	line-height:1.3em;
      	font-weight:normal;
    }
}

h2{
	font-size:em(60);
	font-family: 'Raleway', sans-serif;
	&+p{
		font-size:em(19);
		margin:0 auto;
		max-width:580px;
		&:not(:last-child){margin-bottom:30px;}
	}
}

@media screen and (max-width:1024px){
	header .flex40{@include flex(20%);}
	header .flex60{@include flex(80%);}
	#encontre-o-que-precisa .flex50:first-of-type{display:none;}
	#encontre-o-que-precisa .flex50:last-of-type{
		@include flex(100%);
		text-align:center;
	}
	section#filter .wrap form > *:first-child{width:25%;}
	section#filter .wrap form > *:not(:first-child) {width: 25.3%;}
	#testimonials > *{
		width:50%;
		padding-bottom:30px;
	}
	#testimonials > *:not(:last-child){padding-right:initial;}
	#testimonials > *:not(:first-child){padding-left:initial;}
	#testimonials > *:nth-child(2n+1){padding-right:15px;}
	#testimonials > *:nth-child(2n+2){padding-left:15px;}
	footer nav a{line-height:1.6em;}
	section#faca-parte{margin: -180px auto 0;}
}

@media screen and (max-width:768px){
	header .flex40,
	header .flex60{
		@include flex(100%);
		text-align:center;
		padding-top:12px;
	}
	header #topo nav{
		text-align:center;
		line-height:1.6em;
	}
	header #header form > div {
	    display: block;
	    margin: 0 auto;
	    max-width: 240px;
	    padding: 50px 0;
	    text-align: center;
	}
	#bairros a{
		width:100%;
		display:block;
		&:not(:last-child){border-bottom:1px solid #454545;}
	}
	#bairros.open{max-height:1440px;}
}

@media screen and (max-width:540px){
	h2,
	header #header h1{font-size:15vmin;}
	section#encontre-o-que-precisa::after{left:-100%;}
	header #header .wrap{padding-bottom:0;}	
	section#filter .wrap form > * {
	    color: #999;
	    display: block;
	    margin-right: 0;
	    text-align: center;
	    vertical-align: middle;
	    width: 100% !important;
	}
	section#filter .wrap form > *:not(:last-child){padding-bottom:15px;}
	#testimonials > *{
		width:100%;
		padding-bottom:30px;
	}
	#testimonials > *:not(:last-child){padding-right:initial;}
	#testimonials > *:not(:first-child){padding-left:initial;}
	#testimonials > *:nth-child(2n+1){padding-right:initial;}
	#testimonials > *:nth-child(2n+2){padding-left:initial;}
}

@media screen and (max-width:490px){
	h2, header #header h1{font-size:20vmin;}
	header #header h1 + p{font-size:em(13);}
	header #header::before{top:80%;}
}