@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:200");
@import url("https://fonts.googleapis.com/css?family=News+Cycle");
@font-face {
  font-family: 'TheNextFont';
  src: url("/fonts/TheNextFont.eot");
  src: url("/fonts/TheNextFont.eot") format("embedded-opentype"), url("/fonts/TheNextFont.woff2") format("woff2"), url("/fonts/TheNextFont.woff") format("woff"), url("/fonts/TheNextFont.ttf") format("truetype"), url("/fonts/TheNextFont.svg#TheNextFont") format("svg"); }
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.stretch {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.flex100 {
  -webkit-flex: 0 100%;
  -ms-flex: 0 100%;
  flex: 0 100%; }

.flex95 {
  -webkit-flex: 0 95%;
  -ms-flex: 0 95%;
  flex: 0 95%; }

.flex90 {
  -webkit-flex: 0 90%;
  -ms-flex: 0 90%;
  flex: 0 90%; }

.flex85 {
  -webkit-flex: 0 85%;
  -ms-flex: 0 85%;
  flex: 0 85%; }

.flex80 {
  -webkit-flex: 0 80%;
  -ms-flex: 0 80%;
  flex: 0 80%; }

.flex75 {
  -webkit-flex: 0 75%;
  -ms-flex: 0 75%;
  flex: 0 75%; }

.flex70 {
  -webkit-flex: 0 70%;
  -ms-flex: 0 70%;
  flex: 0 70%; }

.flex65 {
  -webkit-flex: 0 65%;
  -ms-flex: 0 65%;
  flex: 0 65%; }

.flex60 {
  -webkit-flex: 0 60%;
  -ms-flex: 0 60%;
  flex: 0 60%; }

.flex55 {
  -webkit-flex: 0 55%;
  -ms-flex: 0 55%;
  flex: 0 55%; }

.flex50 {
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%; }

.flex45 {
  -webkit-flex: 0 45%;
  -ms-flex: 0 45%;
  flex: 0 45%; }

.flex40 {
  -webkit-flex: 0 40%;
  -ms-flex: 0 40%;
  flex: 0 40%; }

.flex35 {
  -webkit-flex: 0 35%;
  -ms-flex: 0 35%;
  flex: 0 35%; }

.flex33 {
  -webkit-flex: 0 33.33333%;
  -ms-flex: 0 33.33333%;
  flex: 0 33.33333%; }

.flex30 {
  -webkit-flex: 0 30%;
  -ms-flex: 0 30%;
  flex: 0 30%; }

.flex25 {
  -webkit-flex: 0 25%;
  -ms-flex: 0 25%;
  flex: 0 25%; }

.flex20 {
  -webkit-flex: 0 20%;
  -ms-flex: 0 20%;
  flex: 0 20%; }

.flex16 {
  -webkit-flex: 0 16.66667%;
  -ms-flex: 0 16.66667%;
  flex: 0 16.66667%; }

.flex15 {
  -webkit-flex: 0 15%;
  -ms-flex: 0 15%;
  flex: 0 15%; }

.flex10 {
  -webkit-flex: 0 10%;
  -ms-flex: 0 10%;
  flex: 0 10%; }

[class*="flex"] {
  min-width: 0; }
  [class*="flex"] img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    align-self: center; }

[class*="btn"], section#filter .wrap form > * input {
  display: inline-block;
  padding: 15px 60px;
  background: none;
  border: 0px;
  border-radius: 999px;
  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  -ms-border-radius: 999px;
  text-align: center;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1em; }
  [class*="btn"].btn_1, section#filter .wrap form > * input.btn_1 {
    background-color: #fff;
    color: #e2747f; }
  [class*="btn"].btn_2, section#filter .wrap form > * input.btn_2 {
    border: 1px #e2747f solid;
    color: #e2747f; }
  [class*="btn"].btn_3, section#filter .wrap form > * input.btn_3 {
    background-color: #db9600;
    color: #fff; }
  [class*="btn"].btn_4, section#filter .wrap form > * input.btn_4 {
    background-color: #00ffff;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    max-width: 280px; }

button {
  text-transform: uppercase; }

[class*="zocial"] {
  text-transform: initial; }

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif; }

.zocial-googleplus::before {
  content: "+"; }

.zocial-linkedin::before {
  content: "L"; }

.zocial-twitter::before {
  content: "T"; }

.zocial-facebook::before {
  content: "f"; }

[role="dropdown"].open i {
  transform: rotate(180deg); }

header #topo {
  background-color: #454545;
  color: #fff;
  font-size: 0.875em;
  padding: 12px 0; }
  header #topo i {
    display: inline-block;
    vertical-align: middle;
    padding: 0 6px;
    font-size: inherit; }
  header #topo nav {
    text-align: right; }
    header #topo nav a {
      display: inline-block;
      vertical-align: middle; }
      header #topo nav a:not(:last-child) {
        padding-right: 12px; }
header #header {
  position: relative;
  min-height: 600px;
  background-color: #d8515e;
  overflow: hidden;
  color: #fff;
  padding-bottom: 275px;
  z-index: 3; }
  header #header .wrap {
    padding-bottom: 50px; }
  header #header h1 {
    text-align: center;
    font-size: 5.625em;
    max-width: 490px;
    margin: 0 auto 50px;
    line-height: 1em; }
    header #header h1 + p {
      text-align: center;
      margin: 0 auto;
      max-width: 500px; }
  header #header::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    top: 75%;
    transform: rotate(-6deg);
    width: 140vmax;
    z-index: 2; }
  header #header::before {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -20%;
    position: absolute;
    top: 90%;
    transform: rotate(6deg);
    width: 140vmax;
    z-index: 2; }
  header #header form {
    text-align: right; }
    header #header form > div {
      display: inline-block;
      max-width: 185px;
      padding: 50px 0; }
      header #header form > div::after {
        clear: both;
        content: "";
        display: block; }
      header #header form > div input, header #header form > div button {
        display: inline-block;
        vertical-align: middle; }
      header #header form > div button {
        background: none;
        border: 0;
        padding: 0;
        text-align: center;
        color: inherit;
        width: 30px;
        margin-right: -30px; }
        header #header form > div button i {
          font-size: 1.5em; }
      header #header form > div p {
        padding: 15px 0;
        font-size: 0.8125em;
        float: right; }
        header #header form > div p a {
          text-decoration: underline;
          font-weight: bold; }

section {
  position: relative; }
  section h2 {
    max-width: 600px;
    margin: 0 auto 30px;
    text-align: center; }
  section .wrap {
    padding: 60px 0; }
  section#divulgue-o-seu-negocio {
    text-align: center;
    z-index: 2; }
    section#divulgue-o-seu-negocio h2 {
      color: #d8515e; }
    section#divulgue-o-seu-negocio p {
      color: #999; }
    section#divulgue-o-seu-negocio .wrap {
      padding-top: 0; }
  section#encontre-o-que-precisa {
    z-index: 1;
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d75341+0,d4a648+100 */
    background: #d75341;
    /* Old browsers */
    background: -moz-linear-gradient(left, #d75341 0%, #d4a648 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d75341 0%, #d4a648 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d75341 0%, #d4a648 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d75341', endColorstr='#d4a648',GradientType=1 );
    /* IE6-9 */ }
    section#encontre-o-que-precisa .flex {
      position: relative;
      z-index: 3;
      text-align: right; }
      section#encontre-o-que-precisa .flex h2 {
        text-align: inherit; }
      section#encontre-o-que-precisa .flex [class*="flex50"] img {
        margin-top: -160px !important;
        margin-left: -280px !important;
        width: 800px;
        max-width: initial; }
      section#encontre-o-que-precisa .flex [class*="flex50"]:last-of-type {
        padding-bottom: 60px; }
    section#encontre-o-que-precisa::after {
      background: #fff none repeat scroll 0 0;
      content: "";
      height: 100%;
      left: -5%;
      position: absolute;
      top: -84%;
      transform: rotate(-6deg);
      width: 140vmax;
      z-index: 2; }
    section#encontre-o-que-precisa::before {
      background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
      content: "";
      height: 100%;
      left: -5%;
      position: absolute;
      top: -75%;
      transform: rotate(6deg);
      width: 140vmax;
      z-index: 2; }
    section#encontre-o-que-precisa .wrap {
      padding-top: 200px;
      padding-bottom: 0; }
  section#filter .wrap {
    padding: 15px 0; }
    section#filter .wrap form > * {
      display: inline-block;
      vertical-align: middle;
      margin-right: -4px;
      color: #999; }
      section#filter .wrap form > *:first-child {
        width: 15%; }
      section#filter .wrap form > *:not(:first-child) {
        width: 28.3%; }
      section#filter .wrap form > *:not(:first-child) {
        padding-left: 10px; }
      section#filter .wrap form > *:not(:last-child) {
        padding-right: 10px; }
      section#filter .wrap form > * input {
        display: block;
        width: 100%;
        border: 1px #db9600 solid;
        color: #999;
        font-size: 0.875em;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px; }
  section#map #map-canvas {
    height: 560px; }
  section#faca-parte, section#o-que-falam-por-ai {
    color: #fff; }
    section#faca-parte h2, section#o-que-falam-por-ai h2 {
      font-family: 'TheNextFont';
      text-transform: uppercase; }
      section#faca-parte h2 + p, section#o-que-falam-por-ai h2 + p {
        text-align: center; }
  section#o-que-falam-por-ai {
    background: url(../../assets/o-que-falam-por-ai.jpg) center center repeat #0099d9; }
  section#faca-parte {
    background-color: #067cad;
    margin: -120px auto 0; }
    section#faca-parte .wrap {
      padding: 180px 0; }
    section#faca-parte h2 + p a {
      text-decoration: underline;
      font-weight: bold; }

.testimonial {
  position: relative;
  z-index: 50;
  background-color: #ffffff;
  color: #999;
  padding: 0 45px 45px; }
  .testimonial .avatar {
    position: relative;
    top: -45px;
    height: 180px;
    width: 180px;
    margin: 0 auto;
    border-radius: 999px;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    -ms-border-radius: 999px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block; }
  .testimonial ul li {
    display: inline-block;
    vertical-align: bottom;
    margin-right: -4px; }
    .testimonial ul li:nth-child(2) {
      width: 80%;
      padding: 0 10px;
      font-size: 0.9375em;
      text-align: justify;
      font-style: italic; }
    .testimonial ul li:first-child p {
      position: relative;
      display: block;
      transform: rotate(-90deg);
      transform-origin: left bottom 0;
      width: 200px;
      left: 20px; }
    .testimonial ul li:not(:nth-child(2)) {
      width: 10%;
      color: #0099d9;
      font-weight: bold; }

footer {
  font-family: 'Raleway', sans-serif;
  background-color: #0099d9;
  text-align: center;
  color: #fff;
  font-size: 1em; }
  footer .wrap {
    padding: 60px 0; }
  footer p {
    display: block;
    max-width: 680px;
    margin: 0 auto;
    line-height: 1.5em; }
  footer nav {
    padding-bottom: 30px; }
    footer nav a {
      display: inline-block;
      vertical-align: middle;
      padding: 0 12px;
      font-weight: 100; }

#testimonials {
  position: relative;
  z-index: 50;
  margin: 120px auto 0; }
  #testimonials > * {
    display: inline-block;
    vertical-align: bottom;
    margin-right: -4px;
    width: 33.3333%; }
    #testimonials > *:not(:last-child) {
      padding-right: 14px; }
    #testimonials > *:not(:first-child) {
      padding-left: 14px; }

.quote {
  display: block;
  font-family: "News Cycle",sans-serif;
  font-size: 145px;
  height: 20px;
  line-height: 60px; }

#bairros {
  background: #676767;
  color: #fff;
  font-size: 0.875em;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s;
  -moz-transition: max-height 0.2s;
  -o-transition: max-height 0.2s;
  transition: max-height 0.2s; }
  #bairros.open {
    max-height: 150px; }
  #bairros a {
    padding: 16px;
    display: inline-block;
    vertical-align: middle;
    width: 16.3333%;
    margin-right: -4px;
    text-align: center; }

/****/
p {
  line-height: 1.3em; }

h1 {
  font-family: 'TheNextFont';
  line-height: 1.3em;
  font-weight: normal; }

h2 {
  font-family: 'TheNextFont';
  line-height: 1.3em;
  font-weight: normal; }

h3 {
  font-family: 'TheNextFont';
  line-height: 1.3em;
  font-weight: normal; }

h4 {
  font-family: 'TheNextFont';
  line-height: 1.3em;
  font-weight: normal; }

h2 {
  font-size: 3.75em;
  font-family: 'Raleway', sans-serif; }
  h2 + p {
    font-size: 1.1875em;
    margin: 0 auto;
    max-width: 580px; }
    h2 + p:not(:last-child) {
      margin-bottom: 30px; }

@media screen and (max-width: 1024px) {
  header .flex40 {
    -webkit-flex: 0 20%;
    -ms-flex: 0 20%;
    flex: 0 20%; }

  header .flex60 {
    -webkit-flex: 0 80%;
    -ms-flex: 0 80%;
    flex: 0 80%; }

  #encontre-o-que-precisa .flex50:first-of-type {
    display: none; }

  #encontre-o-que-precisa .flex50:last-of-type {
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
    text-align: center; }

  section#filter .wrap form > *:first-child {
    width: 25%; }

  section#filter .wrap form > *:not(:first-child) {
    width: 25.3%; }

  #testimonials > * {
    width: 50%;
    padding-bottom: 30px; }

  #testimonials > *:not(:last-child) {
    padding-right: initial; }

  #testimonials > *:not(:first-child) {
    padding-left: initial; }

  #testimonials > *:nth-child(2n+1) {
    padding-right: 15px; }

  #testimonials > *:nth-child(2n+2) {
    padding-left: 15px; }

  footer nav a {
    line-height: 1.6em; }

  section#faca-parte {
    margin: -180px auto 0; } }
@media screen and (max-width: 768px) {
  header .flex40,
  header .flex60 {
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
    text-align: center;
    padding-top: 12px; }

  header #topo nav {
    text-align: center;
    line-height: 1.6em; }

  header #header form > div {
    display: block;
    margin: 0 auto;
    max-width: 240px;
    padding: 50px 0;
    text-align: center; }

  #bairros a {
    width: 100%;
    display: block; }
    #bairros a:not(:last-child) {
      border-bottom: 1px solid #454545; }

  #bairros.open {
    max-height: 1440px; } }
@media screen and (max-width: 540px) {
  h2,
  header #header h1 {
    font-size: 15vmin; }

  section#encontre-o-que-precisa::after {
    left: -100%; }

  header #header .wrap {
    padding-bottom: 0; }

  section#filter .wrap form > * {
    color: #999;
    display: block;
    margin-right: 0;
    text-align: center;
    vertical-align: middle;
    width: 100% !important; }

  section#filter .wrap form > *:not(:last-child) {
    padding-bottom: 15px; }

  #testimonials > * {
    width: 100%;
    padding-bottom: 30px; }

  #testimonials > *:not(:last-child) {
    padding-right: initial; }

  #testimonials > *:not(:first-child) {
    padding-left: initial; }

  #testimonials > *:nth-child(2n+1) {
    padding-right: initial; }

  #testimonials > *:nth-child(2n+2) {
    padding-left: initial; } }
@media screen and (max-width: 490px) {
  h2, header #header h1 {
    font-size: 20vmin; }

  header #header h1 + p {
    font-size: 0.8125em; }

  header #header::before {
    top: 80%; } }

/*# sourceMappingURL=style.css.map */
